        body
        {
            background-color:#FFFFFF;
            border:0;
            color:#333333;
            font-family:"Trebuchet MS",Verdana,sans-serif;
            margin:0;
            padding:0;
            text-align:center;
            font-size:14px;
        }
        
        .domRow {
        	font-family:"Trebuchet MS",Verdana,sans-serif;
        	font-weight:normal;
        	height: 25px;
        	padding-left: 5px;
        	font-size:14px;
        }
        
        .domRow a {
        	text-decoration: none;
        }

        .domRowInstall {
        	font-family:"Trebuchet MS",Verdana,sans-serif;
        	font-weight:bold;
        	height: 25px;
        	padding-left: 5px;
        	border: 1px solid #999999;
        	border-style: none none none solid;
        }
        
        .domRowInstall a {
        	text-decoration: none;
        }
        
       
       
        
        #intro {
        	display: block;
        	padding: 5px;
        }
        
        #domains {
        	display: none;
        	padding: 5px;
        }
        
        #settings {
        	display: none;
        }

        a
        {
            color:#333333;
            text-decoration: underline
        }

        a:hover
        {
            color:#000099;
        }

        div
        {
            border:0;
            margin:0;
            padding:0;
        }

        div.Clear
        {
            clear:both;
            overflow:none;
            width:100%;
        }   

        form
        {
            border:0;
            margin:0;
            padding:0;
        } 

        h1
        {
            border:0;
            margin:0;
            padding:0;
        }

        img
        {
            border:0;
            margin:0;
            padding:0;
        }

        label
        {
            border:0;
            margin:0;
            padding:0;
        }

        p   
        {
            border:0;
            margin:0;
            padding:0;
            text-align:left;
        }

        p.Center   
        {
            text-align:center;
        }

        pre   
        {
            border:0;
            margin:0;
            padding:0;
            text-align:left;
        }

        ol 
        {
            border:0;
            margin:0;
            padding:0;
        }

        ol li
        {
            border:0;
            margin:0;
            padding:0;
        }

        ul 
        {
            border:0;
            margin:0;
            padding:0;
        }

        ul li
        {
            border:0;
            margin:0;
            padding:0;
        }

        table
        {
            border:0;
            border-collapse:collapse;
            margin:0;
            padding:0;
        }

        table tr
        {
            border:0;
            margin:0;
            padding:0;
        }

        table tr td
        {
            border:0;
            margin:0;
            padding:0;  
            text-align:left;
            vertical-align:middle;
        }

        div#Body
        {
            margin:20px auto;
            width:800px;
        }

        div#Buttons
        {
            background-image:url('/cgi/soholaunch/images/head_bar.gif');
            height:23px;
            overflow:none;
            text-align:left;
        }

        div#Buttons img
        {
            background-color:#FFFFFF;
        }

        div#Buttons .Left
        {
            float:left;
        }

        div#Buttons .Right
        {
            float:right;
        }

        div#Header
        {
            background-image:url('/cgi/soholaunch/images/head_main.gif');
            border:1px solid #999999;
            border-bottom:0;
            border-top:0;
            text-align:left;
        }

        div#Header span.Button 
        {
            float:left;
            margin:10px 0 0 10px;
            text-align:center;
        }

        div#Header span.Button a
        {
            color:#000000;
            font-size:0.9em;
            font-weight:bold;
            text-decoration:none;
        }

        div#Header div.Clear
        {
            height:10px;
        }

        div#Container
        {
            background-image:url('/cgi/soholaunch/images/content_main.gif');
            background-repeat: repeat-x;
            background-color: #C8CAC8;
            border:1px solid #999999;
            margin:0 0px 0 0px;
            text-align:left;
            
        }

        div#Container div#Left_Column
        {
            float:left;
            text-align:left;
            width:150px;
        }

        div#Container div#Left_Column ul
        {
            font-size:0.80em;
            list-style-position:inside;
            list-style-type:none;
            margin:15px 0 0 15px;
        }
        
        div#Container div#Left_Column ul li
        {
            margin:0 0 3px 10px;
            float: left;
        }

        div#Container div#Left_Column ul li.Spacer
        {
            margin:0 0 15px 0;
        }    

        div#Container div#Left_Column ul li a
        {
            background-image:url('/cgi/soholaunch/images/btn_off.gif');
            background-position:left center;
            background-repeat:no-repeat;
            color:#000000;
            font-weight:bold;
            padding:0 0 0 20px;
            text-decoration:none;
        }

        div#Container div#Left_Column ul li a:hover
        {
            color:#3366CC;
        }

        div#Container div#Left_Column ul li a.Blue
        {
            background-image:url('/cgi/soholaunch/images/btn_on.gif');
        }

        div#Container div#Right_Column
        {
            display:block;
            /*float:right;*/
            clear: both;
            margin-left: 8px;
            /*margin-right: 15px;*/
            text-align:left;
            width:100%;
        }

        div#Container div#Right_Column div#Content
        {
            background-color:#FFFFFF;
            border:1px solid #000000;
            font-family:Verdana,sans-serif;
            font-size:0.8em;
            margin:15px 15px 0 0;
            padding:0 0 0 0;
        }

        div#Container div#Right_Column div#Height
        {
            float:right;
            height:1px;
            overflow:hidden;
            width:1px;
        }

        div#Container div#Right_Column div#Content div.Block
        {
            margin:0; 
            padding:0 0 10px 0;
            text-align:left;
        }

        div#Container div#Right_Column div#Content div.Failure_Frame
        {
            border:1px solid #FF0000;
            margin:10px; 
        }

        div#Container div#Right_Column div#Content div.Block h1
        {
            color:#559562;
            font-size:1em;
            font-weight:bold;
            padding:10px 10px 0 10px;
        }

        div#Container div#Right_Column div#Content div.Block h1.Yes_Padding
        {
            padding:10px 10px 10px 10px;
        }

        div#Container div#Right_Column div#Content div.Block h1.No_Padding
        {
            padding:0 10px 0 10px;
        }

        div#Container div#Right_Column div#Content div.Block label
        {
            display:block;
            margin:0 0 5px 0;
            vertical-align:middle
            width:100%;
        }

        div#Container div#Right_Column div#Content div.Block p
        {
            padding:10px 10px 0 10px;
        }

        div#Container div#Right_Column div#Content div.Block p.No_Padding
        {
            padding:0 10px 0 10px;
        }

        div#Container div#Right_Column div#Content div.Block pre
        {
            padding:10px 10px 0 10px;
        }

        div#Container div#Right_Column div#Content div.Block table
        {
            margin:10px 10px 0 10px;
        }

        div#Container div#Right_Column div#Content div.Block table tr
        {
            margin:0;
        }

        div#Container div#Right_Column div#Content div.Block table tr td
        {
            /*width:100%;*/
        }

        div#Container div#Right_Column div#Content div.Block table tr td.Narrow
        {
            padding:3px;
            width:10px;
        }

        div#Container div#Right_Column div#Content div.Block table tr td.Center
        {       
            text-align:center;
        }

        div#Container div#Right_Column div#Content div.Block table tr td.Right
        {
            text-align:right;
        }

        div#Container div#Right_Column div#Content div.Block table tr td.Broad
        {
            padding:3px;
            width:100%;
        }

        div#Container div#Right_Column div#Content div.Block table tr td.Primary_Header
        {
            padding-top:5px;
            padding-bottom:5px;
        }

        div#Container div#Right_Column div#Content div.Block table tr td.Secondary_Header
        {
            padding-top:5px;
            padding-bottom:5px;
        }

        div#Container div#Right_Column div#Content div.Block table tr td.Content
        {
            padding-bottom:5px;
        }

        div#Container div#Right_Column div#Content div.Block ul 
        {
            display:block;
            list-style-type:square;
            padding:10px 10px 0 40px;
        }

        div#Container div#Right_Column div#Content div.Block .Success
        {
            color:#3366CC;
        }

        div#Container div#Right_Column div#Content div.Block .Failure
        {
            color:#FF0000;
        }

        .Success
        {
            color:#3366CC;
        }

        .Failure
        {
            color:#FF0000;
        }

        div#Container div#Right_Column div#Content div.Clear
        {
            height:1px;
        }    

        div#Container div.Clear
        {
            height:15px;
        }    